{erl_opts, [debug_info,
            {platform_define, "^2",floor_bif,1}
           ]}.

{deps, [{parse_trans, {git, "https://github.com/uwiger/parse_trans", {tag, "3.4.1"}}},
        {edown, {git, "https://github.com/uwiger/edown.git", {tag, "0.8.4"}}}
       ]}. 

{shell, [
         % {config, "config/sys.config"},
         {apps, [evins]}
        ]}.

{artifacts, ["priv/evo_serial"]}.

{minimum_otp_vsn, "21.0"}.

{provider_hooks, [{pre, [{compile, clean}]}]}.

{pre_hooks, [{"linux", compile, "${REBAR_ROOT_DIR}/hooks/build.sh"},
             {tar, "rm -f ${REBAR_BUILD_DIR}/rel/default/*.tar.gz"}
            ]}.
{post_hooks, [{"linux", clean, "${REBAR_ROOT_DIR}/hooks/build.sh clean"},
              {tar, "${REBAR_ROOT_DIR}/hooks/tar.sh ${REBAR_BUILD_DIR}"}
             ]}.

{relx, [{release, {evins, {cmd, "echo -n $(git describe --abbrev=0)"}}, [evins]},
        {extended_start_script, true},
        {include_src, false},
        {include_erts, true},
        {include_nodetool, false},
        {sys_config, "./config/sys.config"},
        {overlay, [
                   {template, "config/version", "version"},
                   {mkdir, "{{output_dir}}/log"},
                   {mkdir, "{{output_dir}}/etc"}
                  ]},
        {overlay, [{template, "bin/evins", "bin/evins"}]}]}.


