{erl_opts, [debug_info,
            {platform_define, "^2",floor_bif,1}
           ]}.

{deps, [{parse_trans, {git, "https://github.com/uwiger/parse_trans", {tag, "3.3.0"}}},
        {edown, {git, "https://github.com/uwiger/edown.git", {tag, "0.8"}}}
       ]}. 

{shell, [
         % {config, "config/sys.config"},
         {apps, [evins]}
        ]}.

{post_hooks, [{compile, "echo -n $(git describe --long) > ebin/.version"}]}.

{relx, [{release, {evins, {cmd, "echo -n $(git describe --abbrev=0)"}}, [evins]},
        {extended_start_script, true},
        {include_src, false},
        {include_erts, true},
        {include_nodetool, false},
        {sys_config, "./config/sys.config"},
        {include_src, false},
        {overlay, [
                   {template, "config/version", "version"},
                   {mkdir, "{{output_dir}}/log"},
                   {mkdir, "{{output_dir}}/etc"}
                  ]},
        {overlay, [{template, "bin/evins", "bin/evins"}]}]}.


