{release, {evins, "0.4.1"}, [evins]}.
{extended_start_script, true}.
{include_src, false}.
{include_erts, true}.
{include_nodetool, false}.
{sys_config, "./config/sys.config"}.
{include_src, false}.
{overlay, [
    {template, "config/version", "version"},
    {mkdir, "{{output_dir}}/log"},
    {mkdir, "{{output_dir}}/etc"}
]}.
