{release, {riusbl, "0.1"},
  [riusbl,
   {evins, "0.3", '>='}]}.
{extended_start_script, false}.
{include_src, false}.
{include_erts, true}.
{include_nodetool, false}.
{sys_config, "./config/sys.config"}.
{overlay, [{mkdir, "{{output_dir}}/log"},
           {mkdir, "{{output_dir}}/etc"},
           {copy, "etc/fsm.conf", "{{output_dir}}/etc/fsm.conf"}]}.
